<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Subtype</label>
  <div class="col-md-9 col-sm-9 col-xs-12">
      <select class="form-control" ng-model="schedule.subType">
          <option value="sunrise">Sunrise</option>
          <option value="sunset">Sunset</option>
      </select>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="difference">Difference</label>
  <div class="col-md-8 col-sm-8 col-xs-11">
      <input type="number" id="difference" name="difference" ng-model="schedule.difference" min="-720" max="720" class="form-control col-md-7 col-xs-12">
  </div>
  <label class="control-label col-md-1 col-sm-1 col-xs-1" for="difference">min</label>
</div>
