<div id="wrapper">
    <div id="login" class="animate form">
        <section class="login_content">
            
            <p>Regular notifications</p>
                                <button class="btn btn-default source" onclick="new PNotify({
                                title: 'Regular Success',
                                text: 'That thing that you were trying to do worked!',
                                type: 'success'
                            });">Success</button>
            
            <form>
                <h1>Login Form</h1>
                <div>
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.name" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required="" />
                </div>

                <div>
                    <button class="btn btn-default submit" ng-click="loginUser()">Log in</button>
                    <a class="reset_pass" href="#">Lost your password?</a>
                </div>
                <div class="clearfix"></div>
                <div class="separator">

                    <p class="change_link">New to site?
                        <a ui-sref="home.register" class="to_register"> Create Account </a>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>

                        <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                    </div>
                </div>
            </form>
            <!-- form -->
        </section>
        <!-- content -->
    </div>
    
      <script type="text/javascript" src="js/notify/pnotify.core.js"></script>
    <script type="text/javascript" src="js/notify/pnotify.buttons.js"></script>
    <script type="text/javascript" src="js/notify/pnotify.nonblock.js"></script>
    
     <script type="text/javascript">
        var permanotice, tooltip, _alert;
        $(function () {
            new PNotify({
                title: "PNotify",
                type: "dark",
                text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
                nonblock: {
                    nonblock: true
                },
                before_close: function (PNotify) {
                    // You can access the notice's options with this. It is read only.
                    //PNotify.options.text;
                    // You can change the notice's options after the timer like this:
                    PNotify.update({
                        title: PNotify.options.title + " - Enjoy your Stay",
                        before_close: null
                    });
                    PNotify.queueRemove();
                    return false;
                }
            });
        });
    </script>