<!DOCTYPE html>
<html lang="en" ng-app="homeautomation">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Automation System</title>

    <!-- Bootstrap core CSS -->

    <link href="css/template/bootstrap.min.css" rel="stylesheet">

    <link href="fonts/template/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/template/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="css/template/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/template/maps/jquery-jvectormap-2.0.1.css" />
    <link href="css/template/icheck/flat/green.css" rel="stylesheet" />
    <link href="css/template/floatexamples.css" rel="stylesheet" type="text/css" />


    <link href="css/site.css" rel="stylesheet" type="text/css" />

    <script src="js/template/jquery.min.js"></script>
    <script src="js/template/nprogress.js"></script>
	<script type="text/javascript" src="js/notify/pnotify.core.js"></script>
    <script type="text/javascript" src="js/notify/pnotify.buttons.js"></script>
    <script type="text/javascript" src="js/notify/pnotify.nonblock.js"></script>

    <link href="dist/external.min.css" rel="stylesheet" type="text/css" />

    <script src="dist/external.min.js"></script>

    <script src="dist/has.min.js"></script>

    <script>
        NProgress.start();
    </script>

</head>


<body class="nav-md" ng-cloak>
    <div class="container body">
        <div class="main_container">
            <div ui-view="menu"></div>
            <div ui-view="content"></div>
            <div class="right_col" role="main">
                <div ui-view="main"></div>
            </div>

            <div id="custom_notifications" class="custom-notifications dsp_none">
                <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
                <div class="clearfix"></div>
                <div id="notif-group" class="tabbed_notifications"></div>
            </div>
        </div>
    </div>

    <script src="js/template/bootstrap.min.js"></script>

    <!-- gauge js -->
    <script type="text/javascript" src="js/template/gauge/gauge.min.js"></script>
    <script type="text/javascript" src="js/template/gauge/gauge_demo.js"></script>
    <!-- chart js -->
    <script src="js/template/chartjs/chart.min.js"></script>
    <!-- bootstrap progress js -->
    <script src="js/template/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="js/template/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="js/template/icheck/icheck.min.js"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="js/template/moment.min.js"></script>
    <script type="text/javascript" src="js/template/datepicker/daterangepicker.js"></script>

    <script src="js/template/custom.js"></script>

    <script>
        NProgress.done();
    </script>
    <!-- /datepicker -->
    <!-- /footer content -->
</body>

</html>
